/* Estilos específicos para la página de perfil del Dashboard */
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 0.875rem;
    }
  }
  